/* Typography */

html {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 3em;
}

/* Custom Styles */

.container {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  /* align-items: stretch; */
  min-height: 100%;
}

main {
  min-width: 50%;
  /* flex: 1; */
  justify-content: center;
  padding: 20% 5%;
  text-align: center;
  min-height: 100vh;
}

main > .intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3.75em;
  font-weight: 600;
}

main > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.icons-social i {
  padding: 10px;
}

.devto {
  margin-bottom: -0.2rem;
}

.devto svg {
  margin-bottom: -0.2rem;
  margin-left: 0.675rem;
  width: 2.65rem;
  height: 2.65rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

h2 {
  margin-top: 5%;
}

.card {
  border: 1px solid black;
  /* background-color: aqua; */
  padding: 5% 5%;
  margin-top: 2%;
  /* justify-content: left; */
  /* min-width: 50vh; */
  min-height: 20vh;
  /* align-items: stretch; */
}

.card-footer {
  /* align-items: flex-start; */
  margin: 20% 5% 0%;
  display: flex;
  /* background-color: red; */
  justify-content: space-around;
}

.button {
  border: 1px solid black;
  width: fit-content;
}

.button,
p {
  padding: 5px;
}

.icons-project {
  padding: 10px;
}
