* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: blue;
  text-decoration: none;
} 

header {
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: auto;
  width: 20px;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-flex;
  padding: 0px 20px;
}

.nav_links li a {
  transform: all 0.3s ease 0s; 
}

.nav_links li a:hover {
  color: purple;
}

button:hover {
  background: rgba(0, 136, 169, 0.0);
}


main {
  padding: 10px;
  font-family: 'Baloo Bhai', cursive;
}

p {
  font-size: 1.5em;
}

.image {
  width: 500px;
  max-width: 100%;
  display: block;
  height: auto;
}
