* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
} 

header {
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-tags {
  margin: 0px 10px;
}

header a:hover {
  background-color: turquoise;
  color: whitesmoke;
}

main {
  padding: 10px;
  font-family: 'Baloo Bhai', cursive;
}

p {
  font-size: 1.5em;
}

.image {
  width: 500px;
  max-width: 100%;
  display: block;
  height: auto;
}
